<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('head'); %> 
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body class="index-body">
    <main>
      <div class="index-main-wrapper container">
        <h1>Review Manager</h1>
        <div class="index-main-text">
          <h2>復習のタイミング管理し</h2>
          <h2>勉強を効率化します
          </h2>
          <div class="row index-btn-wrapper">
            <a class ="col-sm" href="/login">ログイン</a>
            <a class ="col-sm" href="/users/signup">新規登録</a>
          </div>
        </div>
      </div>
    </main>
    
    <%- include('script'); %>
  </body>
</html>