extends layout

block content
  h1 勉強内容を記録
    form(method="post" action="/study/new")
      p 勉強内容
      input(type="text" name="studyContents")
      p
      input(type="date" name="studyDate")
      p
      input(type="submit" value="保存")
      p 
      a(href="/") トップ