extends layout

block content
  - var hasContents = reviewContents.length > 0
  if hasContents
    h3 復習内容の一覧
      each content in reviewContents 
        p #{content.study_contents}： #{content.review_date}

    